# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore cache files
__pycache__

# Ignore local env
.venv/
.env
.env.docker
# Ignore third_party
third_party/vits-simple-api-*

# Ignore build files
node_modules/
frontend/node_modules/

# Ignore model files
*.safetensors

# Ignore logs
logs/*.log
backend/logs/*.log

# Ignore generated audio file
public/audio/
frontend/public/audio/

# Ignore npm files
package-lock.json
package.json
