# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
python-embed/

# Ignore cache files
__pycache__

# Ignore local env
.venv/
venv/
.env
.env.docker
# Ignore third_party
third_party/vits-simple-api-*

# Ignore build files
node_modules/
frontend/node_modules/

# Ignore model files
*.safetensors

# Ignore logs
*.log

backend/data/logs

# Ignore generated audio file
public/audio/
frontend/public/audio/
backend/go-impl/internal/data/ent/ent

# Ignore npm files
package-lock.json
package.json

# Ignore 风雪的个人文件目录
memory-bank/

game_data/backgrounds/**  
!game_data/backgrounds/白天.jpeg
!game_data/backgrounds/夜晚.jpg
!game_data/backgrounds

game_data/characters/ 
!game_data/characters/诺一钦灵

game_data/musics/ 
!game_data/musics/夜晚音效

# Ignore 数据库淫荡对话历史
chat_system.db
chroma_db_store/
rag_chat_history/
browser_data/
#
release/zip/
.openmcp/
models/