:root {
    --accent-color: #79d9ff; /* 从Logo提取的主题粉色 */
}

/* 全局样式和字体 */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
}